/* login */

/*GENERAL*/
* {
    margin: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    z-index: 1001;

}

::-webkit-scrollbar {
display: none;
}

.section-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.form-container {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    box-shadow: 0px 0px 5px 3px #4E9F3D;
    padding: 3rem;
    margin-top: 2rem;
    /*  background-color:; */
}


.logo-section {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.form-container input {
    width: 17rem;
    height: 2rem;
    font-size: 1.1rem;
    padding: 0.4rem;
    padding-left: 0.8rem;
    color: #05221e;
    background-color: #D9EDBF;
    border: 2px solid #4E9F3D;
}

::placeholder {
    color: gray;
}

button {
    border: none;
    width: auto;
    height: auto;
    font-size: 1.2rem;
    padding: 1rem 3rem;
    border-radius: 15px;
}

#regbtnlog {
    margin-top: 1.5rem;
    background-color: #45474B;
    color: #fff;
    cursor: pointer;

}

#regbtnlog:hover {
    background-color: #05221e;
    color: #fff;
}

.admin-section,
.pass-section {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.logotxt {
    font-size: 2rem;
    color: #05221e;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    padding-bottom: 2rem;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;

    /*     background-color:#; */

}

.greetings {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    text-align: center;
    color: #05221e;
    padding-bottom: 2rem;
}

/* .login-person{
  position:absolute;
  width: 300px;
  height: 300px;
  top: 17.5rem;
  left: 40%;
} */

/* DASHBOARD */

.dashboard-container {
    display: flex;
    gap: 0rem;
}

.sidebar-sections {
    padding-top: 1.5rem;
    max-width: 340px;
    height: 95vh;
    margin: 1rem;
    margin-top: 0.3rem;
    margin-bottom: 0rem;
    background-color: #45474B;
    border-radius: 15px;
    position: relative;
    z-index: 1002;
}

.logos-section {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.logodash {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.logotxtdash {
    font-size: 1.4rem;
    color: #fff;
}

/* MENU SECTION */
.menus-section {
    padding-top: 1rem;
    list-style-type: none;
    color: #fff;
    margin-left: 0;
    padding-left: 0rem;
}

.menus-section li {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    padding: 0.67rem;
    margin-bottom: 1.5rem;
    cursor: pointer;

}

.menus-section li:hover {
    background-color: #686D76;
}

.logoutfunc {
    text-align: center;
    color: #fff;
    cursor: pointer;
    position: relative;
    left: -20px;
    padding-bottom: 1rem;
}

.active {
    background-color: #686D76;
}


/* CENTRE SECTIONS */

.centre-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.navbar-section {
    display: flex;
    gap: 1.3rem;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;
    margin-top: 0.5rem;
    width: 73vw;
    height: 50px;
    background-color: #45474B;
}
.search{
    position: relative;
    left: -57%;
}
.avatar{
    margin-right: 1rem;
    cursor: pointer;
 
}
.vline{
    border-left: 1px solid grey;
    height: 40px;
}

/* main content */

.main-section {
    display: flex;
    gap: 1rem;
    height: 70vh;
}

.details-section {
    width: 250px;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #45474B;
    gap: 2rem;
    color: #fff;

}

.article-section {

    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;

}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #4E9F3D;
    border-radius: 50%;
    float: right;
}

/* OVERVIEW */

.overview-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    height: 300px;

}

.primary {
    width: 200px;
    height: 120px;
    justify-content: space-between;
    align-items: center;
    background-color: #45474B;
    gap: 0.5rem;
    padding: 1rem;
}

.heading{
font-size: 1rem;
font-weight: 350;
}
.value{
    font-size: 1.4rem;
    font-weight: 350; 
}


/*  */
/* CHAT BOT */

.chatbox-container {

    right: 0;
    position: absolute;
}

.chat-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color:#006A67;
    width: 350px;
    height: 400px;
    overflow-y: scroll;
    padding: 1rem;
    padding-bottom: 3.5rem;
    margin-right: 2rem;
    padding-top: 5rem;
}
/* 
 
  .chat-section ::-webkit-scrollbar {
    width: 5px;
    height: 10px; 
  }

  .chat-section ::-webkit-scrollbar-track {
    background:black;
  }

  .chat-section ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px; 
  }

  .chat-section ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
 */
.chatbox-inputfield {
    display: flex;
    position: absolute;
    bottom: 0%;
    padding-left: 0.4rem;
    gap: 0.5rem;
    background-color:#006A67;
    width: 330px;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
    padding-bottom: 0.5rem;


}

#messageInput {
    width: 300px;
    height: 45px;
    border-radius: 15px;
    padding-left: 0.3rem;
    border: none;
}

#messageInput:focus{
    outline: none;
    border: none;
    box-shadow: 0 0 0 0.2rem darkgray;
}

.sendbtn {
    font-size: 0.44rem;
    background-color: #399918;
    color: white;
    border-radius: 50%;
    padding: 0.5rem;
    cursor: pointer;
    width: 30px;
    height: 30px;

}

.client,
.server {
    width: 140px;
    height: fit-content;
    padding: 0.5rem;
    font-size: 0.88rem;
    border-radius: 10px;
}



.client {
    background-color: #fff;
    overflow-wrap: break-word;
    position: relative;
    left: 160px;
    height: fit-content;
    
}

.server {
    background-color:#97E7E1;
}

